<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>首页---膜行业信息资讯与数据服务平台</title>
    <meta name="description" content="牛膜网（ofilm.com.cn）隶属上海易瓴信息技术有限公司，总部位于上海，深圳设立服务处。我们的定位致力于打造膜行业信息资讯与数据服务平台">
    <meta name="keywords" content="膜,薄薄,光学膜,保护膜,离型膜,石墨膜,铝塑膜,锂电池隔膜,光伏背板膜,EVA胶膜,窗膜,建筑膜,隔热膜,防爆膜,水处理膜,渗透膜,陶瓷膜,分离膜,聚酯薄膜,聚酯切片,BOPP薄膜,BOPET薄膜,PET薄膜,OPP薄膜,CPP薄膜,印刷基膜,包装薄膜">
  </head>
  <body>
    <div id="app">
	  </div>
    <!-- built files will be auto injected -->
  </body>
</html>
